/* Kadoatery */
.ul__sitetrophy.ul__kad_level_3 img {
    content: url(https://i.postimg.cc/jqQ9C6JG/4glbt-Rp.png)
}

/* Defenders of Neopia */
.ul__sitetrophy.ul__don9 img {
    content: url(https://i.postimg.cc/nLwvHt6K/Do-N-Sloth.png)
}

/* Haunted House 2025 */
.ul__sitetrophy.ul__hh2025_1 img {
    content: url(https://i.postimg.cc/pX7cRx1g/Haunted-House.png)
}

/* Snowball Fight 2025 */
.ul__sitetrophy.ul__ribbon_BrainTree img {
    content:url(https://i.postimg.cc/5tkwxMZB/Snowball-Fight-Brain-Tree.png)
}

/* Brain Tree */
.ul__gametrophy.ul__game17 img[src="https://grundoscafe.b-cdn.net/games/trophies/17_2.gif"] {
    content: url(https://i.imgur.com/Nqm9jcZ.png)
}
.ul__gametrophy.ul__game17 img[src="https://grundoscafe.b-cdn.net/games/trophies/17_1.gif"] {
    content: url(https://i.postimg.cc/Nf8gsrg5/Brain-Tree-Gold.pn)
}

/* Fruit Machine */
.ul__gametrophy.ul__game60 img {
    content: url(https://i.postimg.cc/VsBT59Cw/zu98GPc.png)
}

/* Lottery */
.ul__gametrophy.ul__game20 img {
    content: url(https://i.postimg.cc/CMHtdCqV/B4TZUso.png)
}

/* Cheeseroller */
.ul__gametrophy.ul__game32 img {
    content: url(https://i.postimg.cc/mZNqh3Hs/r9hb3m1.png)
}

/* Turmac Roll */
.ul__gametrophy.ul__game91 img {
    content: url(https://i.postimg.cc/05d3rGwx/8w-C1VHT.png)
}

/* Splat a Sloth */
.ul__gametrophy.ul__game68 img {
    content: url(https://i.postimg.cc/T2qShjD3/OTfccfr.png)
}

/* Food Club */
.ul__gametrophy.ul__game6 img {
    content: url(https://i.postimg.cc/59qGj5Cy/XSlcq-Q6.png)
}

/* Snow Wars */
.ul__gametrophy.ul__game76 img {
    content: url(https://i.postimg.cc/J7cgt3kh/Eo53ICj.png)
}

/* Kiss the Mortog */
.ul__gametrophy.ul__game61 img {
    content: url(https://i.postimg.cc/mZNqh3Ht/WMe-Aq-RL.png)
}

/* Tyranu Evavu */
.ul__gametrophy.ul__game5 img {
    content: url(https://i.postimg.cc/L69WPqts/Aji-Nz4D.png)
}

/* Kass Basher */
.ul__gametrophy.ul__game88 img {
    content: url(https://i.postimg.cc/zXzQhLCX/S1y-Mw2F.png)
}

/* Lenny Conundrum */
.ul__gametrophy.ul__game21 img {
    content: url(https://i.postimg.cc/15mdFgGm/Sli-OZug.png)
}

/* Wishing Well */
.ul__gametrophy.ul__game19 img {
    content: url(https://i.postimg.cc/ncFWms4C/xi02lw-B.png)
}

/* Attack of the Revenge */
.ul__gametrophy.ul__game54 img {
    content: url(https://i.postimg.cc/28ktWqQB/0238GOa.png)
}

/* Double or Nothing */
.ul__gametrophy.ul__game30 img {
    content: url(https://i.postimg.cc/28ktWqQZ/p0FSB1S.png)
}

/* Escape from Meridell Castle */
.ul__gametrophy.ul__game51 img {
    content: url(https://i.postimg.cc/bNy5nGxn/HIQ1t-Rn.png)
}

/* Tax Beast */
.ul__gametrophy.ul__game23 img {
    content: url(https://i.postimg.cc/rFVH4d1W/23Axa-MX.png)
}

/* Mystery Pic */
.ul__gametrophy.ul__game45 img {
    content: url(https://i.postimg.cc/SNSP9X6V/wwhak6u.png)
}

/* Better Than You */
.ul__gametrophy.ul__game66 img {
    content: url(https://i.postimg.cc/FsqCNmn8/BTY-Bronze.png)
}

/* Card Collector */
.ul__gametrophy.ul__game18 img {
    content: url(https://i.postimg.cc/SN51kqtB/Card-Collector-Bronze.png)
}
