img[src="https://grundoscafe.b-cdn.net/games/trophies/neolicense.gif"] {
    content: url(https://i.postimg.cc/137J1n9D/Drivers-License.png)
}

img[src="https://grundoscafe.b-cdn.net/games/trophies/ppl_4.gif"] {
    content: url(https://i.postimg.cc/3xfnQ4KX/PPLBronze.png)
}

img[src="https://grundoscafe.b-cdn.net/games/trophies/ppl_3.gif"] {
    content: url(https://i.postimg.cc/3xfnQ4KX/PPLBronze.png)
}

img[src="https://grundoscafe.b-cdn.net/games/trophies/ppl_2.gif"] {
    content: url(https://i.postimg.cc/HkvB1cpX/PPLSilver.png)
}

img[src="https://grundoscafe.b-cdn.net/games/trophies/ppl_1.gif"] {
    content: url(https://i.postimg.cc/bww35Hjm/PPLGold.png)
}

img[src="https://grundoscafe.b-cdn.net/games/trophies/bc_3.gif"] {
    content: url(https://i.postimg.cc/26DH0pjZ/BCBronze.png)
}

img[src="https://grundoscafe.b-cdn.net/games/trophies/bc_2.gif"] {
    content: url(https://i.postimg.cc/Hx96KSjV/BCSilver.png)
}

img[src="https://grundoscafe.b-cdn.net/games/trophies/bc_1.gif"] {
    content: url(https://i.postimg.cc/Hx96KSjj/BCGold.png)
}